{% extends "dashboard/base/base.html" %}
{% load i18n %}
{% block Title %}
    Create New Celebrity
{% endblock Title %}
{% block body %}
    <div class="ui basic segment">
        <h3 class="ui huge header" style="margin-bottom: 95px">Create Celebrity</h3>
        <form class="ui form error"
              style="margin-top: 0;
                     padding-right: 1%"
              method="post">
            {% csrf_token %}
            <div class="ui equal width grid">
                <div class="row">
                    <div class="column">
                        <h2 class="ui header" style="margin-top: 0; padding-bottom: 22px">Personal Information</h2>
                        {% for error in form.phone_number.errors %}
                            <div class="ui error message">
                                <div class="header">
                                    {% translate "Phone number error" %}
                                </div>
                                <p> {{ error | escape }} </p>
                            </div>
                        {% endfor %}
                        <div class="field">{{ form.phone_number }}</div>
                        {% for error in form.name.errors %}
                            <div class="ui error message">
                                <div class="header">
                                    {% translate "Name error" %}
                                </div>
                                <p> {{ error | escape }} </p>
                            </div>
                        {% endfor %}
                        <div class="field">{{ form.name }}</div>
                        {% for error in form.last_name.errors %}
                            <div class="ui error message">
                                <div class="header">
                                    {% translate "Last Name error" %}
                                </div>
                                <p> {{ error | escape }} </p>
                            </div>
                        {% endfor %}
                        <div class="field">{{ form.last_name }}</div>
                        {% for error in form.email.errors %}
                            <div class="ui error message">
                                <div class="header">
                                    {% translate "Email error" %}
                                    {{ forloop.counter }}
                                </div>
                                <p> {{ error | escape }} </p>
                            </div>
                        {% endfor %}
                        <div class="field">{{ form.email }}</div>
                        {% for error in form.username.errors %}
                            <div class="ui error message">
                                <div class="header">
                                    {% translate "Username error" %}
                                </div>
                                <p> {{ error | escape }} </p>
                            </div>
                        {% endfor %}
                        <div class="field">{{ form.username }}</div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card" style="padding: 16px 20px">
                            <h2 class="ui header" style="margin-top: 0; padding-bottom: 22px">CCP / Payment
                                Information</h2>
                            <div class="field">{{ form.ccp }}</div>
                            {% for error in form.ccp.errors %}
                                <div class="ui error message">
                                    <div class="header">
                                        {% translate "CCP error" %}
                                    </div>
                                    <p> {{ error | escape }} </p>
                                </div>
                            {% endfor %}
                            <div class="field">{{ form.rip }}</div>
                            {% for error in form.rip.errors %}
                                <div class="ui error message">
                                    <div class="header">
                                        {% translate "RIP error" %}
                                    </div>
                                    <p> {{ error | escape }} </p>
                                </div>
                            {% endfor %}
                            <div class="field">{{ form.address }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="right aligned column" style="margin-top: 120px">
                        <button class="ui big basic red secondary button">discard</button>
                        <input type="submit" class="ui big green button" value="Send"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'dashboard/js/create_celeb.js' %}"></script>
{% endblock scripts %}
