{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/side_bar.css' %}"/>
<div id="sidebar-container">
    <h3 id="sidebar-header" class="ui centered inverted big header">Dedicace</h3>
    <div id="sidebar-menu"
         class="ui wide secondary inverted fluid vertical menu">
        <a href="{% url 'dashboard-create-celeb' %}"
           class="{{ celeb_active }} fluid item sidebar-link">
            <span class="ui inverted medium text sidebar-item">{% translate "Create a new Celebrity" %}</span>
        </a>
        <a href="{% url 'dashboard-view-payments' %}"
           class="{{ payment_active }} item sidebar-link">
            <span class="ui inverted medium text sidebar-item">{% translate "Payments" %}</span>
        </a>
        <a href="{% url 'dashboard-view-users' %}"
           class="{{ users_active }} item sidebar-link">
            <span class="ui inverted medium text sidebar-item">{% translate "Users" %}</span>
        </a>
        <a href="{% url 'dashboard-view-reports' %}"
           class="{{ reports_active }} item sidebar-link">
            <span class="ui inverted medium text sidebar-item">{% translate "Reports" %}</span>
        </a>
    </div>
</div>
